{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * CraByFy Deployment plugin for Craft CMS 3.x
 *
 * CraByFy Deployment Settings.twig
 *
 * @author    Dunckelfeld
 * @copyright Copyright (c) 2018 Dunckelfeld
 * @link      dunckelfeld.de
 * @package   CraftGatsbyNetlifyDeploy
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<h2>Preview</h2>
{{ forms.textField({
    label: 'Preview URL',
    instructions: 'For example https://staging.domain.tld',
    id: 'crabyfyUniversalPreviewUrl',
    name: 'crabyfyUniversalPreviewUrl',
    value: settings.crabyfyUniversalPreviewUrl
}) }}

{{ forms.textField({
    label: 'Preview Deployment Trigger URL',
    instructions: 'For example https://api.netlify.com/build_hooks/xxx',
    id: 'crabyfyUniversalPreviewDeployTriggerUrl',
    name: 'crabyfyUniversalPreviewDeployTriggerUrl',
    value: settings.crabyfyUniversalPreviewDeployTriggerUrl
}) }}

{{ forms.textField({
    label: 'Preview Deployment Status Endpoint',
    instructions: 'For example https://gitlab.com/api/v4/projects/xxx/pipelines',
    id: 'crabyfyUniversalPreviewDeployStatusEndpoint',
    name: 'crabyfyUniversalPreviewDeployStatusEndpoint',
    value: settings.crabyfyUniversalPreviewDeployStatusEndpoint
}) }}

<h2>Live</h2>
{{ forms.textField({
    label: 'Live URL',
    instructions: 'For example https://domain.tld',
    id: 'crabyfyUniversalLiveUrl',
    name: 'crabyfyUniversalLiveUrl',
    value: settings.crabyfyUniversalLiveUrl
}) }}

{{ forms.textField({
    label: 'Live Deployment Trigger URL',
    instructions: 'For example https://api.netlify.com/build_hooks/xxx',
    id: 'crabyfyUniversalLiveDeployTriggerUrl',
    name: 'crabyfyUniversalLiveDeployTriggerUrl',
    value: settings.crabyfyUniversalLiveDeployTriggerUrl
}) }}

{{ forms.textField({
    label: 'Live Deployment Status Endpoint',
    instructions: 'For example https://gitlab.com/api/v4/projects/xxx/pipelines',
    id: 'crabyfyUniversalLiveDeployStatusEndpoint',
    name: 'crabyfyUniversalLiveDeployStatusEndpoint',
    value: settings.crabyfyUniversalLiveDeployStatusEndpoint
}) }}